*{
    margin:0px;
  }

  .controller-volume,
  .controller-capitolo,
  .controller-leggi,
  .img-controller{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .btn{
    height:40px;
    width: 40px;
    border-radius: 10px;
  }

  .btn_leggi{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(95, 158, 160, 0.171);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  input{
    text-transform: uppercase;
    margin: 0 0 0 10px;
    width: 50px;
    display: flex;
  }

  .img-controller{
    position: relative;
  }

  .btn-page:hover{
    background-color: rgba(95, 158, 160, 0.171);
  }
  .btn-page{
    position: absolute;
    background: transparent;
    height: 100%;
    width: 10%;
  }
  .left{
    left:0;
  }

  .right{
    right:0;
  }

  @media screen and (min-width: 1024px){
    img{
      height:100% ;
    }
  }